extends ../layout/layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")


block content 
    div.login-page
        main.product-body
            if (error)
                div(class="login-message-error") #{error}
            if (success)
                div(class="login-message-success") #{success}


            form.add-product-form(action="/reset-password" method="POST")
                h3 Reset Your Password
                label(for="email" type="text") Enter your email
                input.add-product-entry(type="text"  name="email" required id="email")
                input(type="hidden", name="_csrf" value=`${csrfToken}`)
                button.add-product-btn Reset
